    Django==4.2.10
    mongoengine==0.27.0
    pymongo==4.6.1
    reportlab==4.1.0
    django-crispy-forms==2.1
    crispy-bootstrap4==2023.1
    django-widget-tweaks==1.5.0
    Pillow==10.2.0
    python-dotenv==1.0.1 